.sobre-mi-container {
  padding: 40px 20px;
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.sobre-mi-container p {
  font-size: 18px;
  margin-top: 20px;
}

/* Responsive */
@media (max-width: 480px) {
  .sobre-mi-container p {
    font-size: 16px;
  }
}
