/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #faf5f0;
  color: #333;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffb3c6;
  padding: 15px 40px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.header nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.header nav a:hover {
  opacity: .7;
}

/* HERO */
.hero {
  background: url("https://images.pexels.com/photos/1546890/pexels-photo-1546890.jpeg") center/cover no-repeat;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}

.hero h2 {
  font-size: 42px;
  font-weight: 800;
}

.hero p {
  font-size: 20px;
  margin-top: 10px;
}

/* PRODUCTOS */
.productos {
  padding: 50px;
  text-align: center;
}

.productos h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #444;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card img {
  width: 100%;
  height: 140px; /* altura uniforme más pequeña */
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.card .precio {
  font-size: 16px;
  color: #ff5e8c;
  font-weight: 600;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* NOSOTROS */
.nosotros {
  padding: 40px 80px;
  background: #ffe6ea;
  text-align: center;
}

.nosotros h2 {
  margin-bottom: 10px;
  font-size: 30px;
}

.nosotros p {
  font-size: 18px;
  max-width: 700px;
  margin: auto;
}

/* CALCULADORA */
.calculadora {
  padding: 40px;
  text-align: center;
}

.calc-box {
  background: white;
  padding: 30px;
  display: inline-block;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.calc-box input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
}

.calc-box button {
  margin-left: 10px;
  padding: 10px 15px;
  font-size: 16px;
  background: #ff82a9;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.calc-box button:hover {
  background: #ff5e8c;
}

.resultado {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

/* FOOTER */
.footer {
  background: #ffb3c6;
  color: white;
  padding: 30px;
  text-align: center;
  margin-top: 30px;
}
